$custom-purple-lighter: #683DD1;
$custom-purple-medium: #281852;
$custom-purple-darker: #130B27;

$custom-white: #FAF9F9;

$custom-orange-lighter: #FF9E00;
$custom-orange-medium: #FF8500;
$custom-orange-darker: #FF6D00;